* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 131, 0.8)),
    url(./images/hero.jpg);
  background-size: cover;
  background-position: top; /*fixes top of image so it's never cropped */
  position: relative; /* strating point (reference) of where logo/logo-box measurements/positioning begin */

  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px; /*width is automatically adjusted in ratio to this measurment unless suggested otherwiser */
}

/* .logo:hover { #### NOT WORKING AS EXPECTED. COME BACK TO IT LATER ######
  animation: moveInRight 1s ease-out;
} */

.center-headline{
  position: absolute;
  top: 40%; /*this starts the element box at 50% from top left corner (not from center) */
  left: 50%; /*this starts the element box at 50% from top left corner (not from center) */
  transform: translate(-50%, -50%); /* negative makes it off to the left 50% and off to the bottom 50% */
  text-align: center;

}

.primary-heading {
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  backface-visibility: hidden; /* auto-adjusts any glitchiness in animations */
}

.primary-heading-main {
  display: block;
  font-size: 60px;
  font-weight: 400; /* how bold or thick the font is */
  letter-spacing: 35px;

  /* these next two lines are the only lines REQUIRED to make an animation */
  animation-name: moveInLeft;
  animation-duration: 2s;

  /* we can add a delay to the animation as well, like so...
  animation-delay: 3s;
  */
}

.primary-heading-sub {
  display: block; /* to add beginning and ending cut off of class to separate content */
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17px;
  text-align: center;

  margin-bottom: 60px;

}

@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-100px); /* negative numbers move to the left, postitive to the right jsut like a graph */
  }

  80% { transform: translateX(20px);

  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(-100px); /* negative numbers move to the left, postitive to the right jsut like a graph */
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

.button:link,
.button:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px; /* specifies padding for top/bottom at 15px (first integer) followed by left/right */
  display: inline-block; /* to separate and prevent over laying */
  border-radius: 100px;
  transition: all 0.2s; /* shortcut way of adding animation to all buttons for 2.5 seconds */
  position: relative; /* because .button::after (below) needs a reference for positioning */
}

.button:hover {
  transform: translateY(-3px); /* negative numbers move to the left, positive to the right just like a graph*/
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2)
}

.button:active {
  transform: translateY(-1px); /* negative numbers move to the left, positive to the right just like a graph */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2)

}

.button-white {
  background-color: #fff;
  color: #777;
}

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute; /*to make the button appear to be hiding and layering over original button in reference above */

  top: 0;
  left:0;
}